@import url('base.css');
/*栅格系统：更快捷的实现响应式
          预定义类  css
          把屏幕平均分成12列
          三种终端 四种屏幕大小 移动端优先*/
/*container:固定宽度
  container-fluid:宽度为100%
  row  行
  col  列
  pull  right
  push  left
  */
.navbar{
	width: 100%;
	/* height: 600px; */
	position: relative;
    background: url('../img/banner1.jpeg') no-repeat;
    background-size: 100% 100%;
    padding: 25px;
}
#zhezhao{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}
.nav-item{
	position: relative;
	float: right;
	z-index: 999;
}
.nav-right{
	width: 600px;
	display: flex;
	padding-right: 30px;
}
.nav-right>li{
	width: 20%;
	line-height: 52px;
	font-size: 18px;
	cursor: pointer;
	text-align: center;
}
.nav-right>li>.nav-text{
	color: #fff;
	cursor: pointer;
}
.inner {
	transform: none;
	position: relative;
	text-align: center;
	padding-top: 150px;
    padding-bottom: 100px;
	display: flex;
	flex-wrap: wrap;
	z-index: 9999;
	text-align: center!important;
}
.inner>h1{
	width: 100%;
	display: block;
	text-align: center;
    font-size: 58px;
	margin: 0 0 30px 0;
	padding: 0;
	color: #fff!important;
}
.meet{
	width: 100%;
	display: block;
    font-size: 36px;
    margin-bottom: 38.5px;
    text-align: center;
    color: #ccc!important;
}
.actions {
	color: #ccc;
    cursor: default;
    list-style: none;
    margin: 0 auto;
}
.actions .button{
	color: #ccc!important;
    font-size: 26px;
    padding: 0 40px;
    font: inherit;
    vertical-align: baseline;
	background: none;
    box-shadow: 0 0 0 2px rgba(144, 144, 144, 0.25);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    font-weight: 700;
    height: 56px;
    line-height: 56px;
    text-align: center;
    white-space: nowrap;
}
/*关于自己开始*/
.about-section{
	width: 100%;
	height: auto;
	padding-top: 90px;
	padding-bottom: 90px;
}
.about-img{
	display: block;
	padding-left: 30px;
	padding-top: 30px;
	/*height: 540px;*/
}
.about-img img{
	display: block;
	width: 90%;
	margin-bottom: 25px;
	border-radius: 50%;
	box-shadow: 12px 0px 0px 12px rgba(0,0,0,0.2), -12px 0px 0px 12px rgba(0,0,0,0.2);
}
.about-text{
	padding-top: 30px;
	/*height: 532px;*/
	background: #fff;
}
h3{
	font-size: 20px;
	line-height: 22px;
	margin-bottom: 25px;
	color: #333;
}
p{
	font-size: 17px;
	color: #888;
	line-height: 27px;
	margin-bottom: 20px;
}
.p{
	font-style: normal;
}
.single-progress-item {
    margin-bottom: 30px;
}
.single-progress-item h4 {
    letter-spacing: 0.09em;
    text-transform: uppercase;
    line-height: 27px;
    margin-bottom: 5px;
    font-size: 14px;
}
/*h4 {
    font-size: 14px;
    line-height: 30px;
    color: #333333;
}*/
.progress-bar-style {
    display: block;
    height: 10px;
    background: #d6d6d6;
    position: relative;
    width: 100%;
    border-radius: 5px;
}

.bar-inner {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #222;
    border-radius: 5px;
}
.bar-inner span {
    position: absolute;
    right: 10px;
    top: -18px;
    font-size: 13px;
}
#section-header {
    padding-top: 0;
    text-align: center;
}
.fancy{
	line-height: 0.5;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}
/* .fancy span:before {
    right: 100%;
    /* margin-right: 10px; */
}
.fancy span:before, .fancy span:after {
	color: #fff;
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #E4E4E4;
    /* top: 15px; */
    width: 400px;
    box-sizing: border-box;
} */
.work-item img{
	display: block;
	width: 100%;
	height: 100%;
}
/*关于自己结束*/
/* 关于工作经历 */
.text-center{
	text-align: center!important;
}
.about{
	width: 100%;
	text-align: center;
	font-size: 40px;
	margin-top: 0;
	margin-bottom: 15px;
}
.about-text{
	font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
}
.text-muted {
/* 	text-align: center; */
    color: #868e96!important;
}
.timeline{
	position: relative;
	padding: 0;
	list-style: none;
}
.timeline>li {
    position: relative;
    /* min-height: 50px; */
    margin-bottom: 50px;
}
.timeline>li .timeline-image {
	float: left;
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: #fff;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    background-color: #fed136;
}
.rounded-circle {
    border-radius: 50%;
}
.img-fluid {
	display: block;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
.timeline>li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}
.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}
.timeline .timeline-heading h4.subheading {
    text-transform: none;
    margin: 10px 0;
}
.timeline .timeline-body>p, .timeline .timeline-body>ul {
    margin-bottom: 0;
}
.text-muted {
    color: #868e96!important;
}
p{
    line-height: 1.75;
}
.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}
.timeline>li .timeline-image h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
}
.timeline>li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: #fff;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    background-color: #fed136;
}
.timeline>li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}
/* 工作经历结束 */
/*关于服务开始*/
.services{
	width: 100%;
	height: auto;
	background: #f6f6f6;
	padding-top: 90px;
	padding-bottom: 90px;
}
.service-items{
	text-align: center;
}
.icon-magic,.icon-yezi,.icon-xiangji,.icon-shezhi1{
	font-family: "iconfont";
	margin:0 auto;
	font-size: 36px;
	width: 100px;
	height: 100px;
	line-height: 100px;
	border-radius: 30px;
	color: #fff;
	transition: 0.5s all;
	background: #fed136;
	text-align: center;
	
}
.icon-magic:hover,.icon-yezi:hover,.icon-xiangji:hover,.icon-shezhi1:hover{
	animation: fa-spin 3s infinite linear;
	border-radius: 50%;
}
@keyframes fa-spin{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(180deg);
	}to{
		transform: rotate(360deg);
	}
}
.service-items h4 {
	margin-top: 20px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 700;
    color: #333333;
}
/*关于服务结束*/
/*文件夹开始*/
.portfolio{
	width: 100%;
	height: auto;
	background: #ffffff;
	padding-top: 90px;
	padding-bottom: 90px;
}
.portfolio-top{
	text-align: center;
	margin-bottom: 30px;
	padding-top: 90px;
}
.portfolio-top h2{
	font-size: 23px;
	margin-bottom: 15px;
	color: #333;
}
.display{
	margin:0 auto;
	text-align: center;
	margin-bottom: 30px;
}
.display li{
	display: inline-block;
	margin-right: 10px;
	font-size: 12px;
	color: #333;
	cursor: pointer;
}
.display li:hover{
	text-decoration-line: line-through;
}

.product-bottom{
	margin-bottom: 30px;
}
/*.work-item{
		position: absolute;
	}*/
.zhezhao{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: all 0.5s ease 0s;
}
.work-zoom {
	display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    text-align: center;
    /*left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-right: auto;
    margin-top: auto;
    margin-left: auto;
    background: #fff;
    opacity: 0;
    transform: rotateY(0deg);
    transition: all 1s;
}
.icon-sousuo{
	font-family: "iconfont";
	color: #333;
	font-size: 20px;
	line-height: 50px;
}
.work-item:hover .zhezhao{
    opacity: 1;
}
.work-item:hover .work-zoom{
    opacity: 1;
	transform: rotateY(180deg);
}
/*文件夹结束*/
/*客户端开始*/
.clints{
	width: 100%;
	height: auto;
	background: #f6f6f6;
	padding-top: 90px;
	padding-bottom: 90px;
	text-align: center;
}
.clints-box img{
	display: block;
	width: 100%;
	height: 100%;
}
/*客户端结束*/
/*LATEST BLOGS开始*/
.latest{
	width: 100%;
	height: auto;
	background: #fff;
	padding-top: 90px;
	padding-bottom: 90px;
}
.latest-top{
	text-align: center;
}
.latest-item{
	display: block;
	margin-bottom: 30px;
	box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.15);
}
.latest-pl img{
	display: block;
	width: 100%;
	height: 100%;
}
.latest-text{
	padding: 25px;
}
.latest-text h3 {
	font-weight: 700;
	text-align: center;
    color: #333;
    margin-bottom: 15px;
}
.latest-text p{
	text-align: center;
	font-size: 16px;
	margin-bottom: 0;
	word-break: break-all;
}
.latest-text h5{
	text-align: center;
    margin-top: 10px;
    font-size: 11px;
    text-transform: uppercase;
    color: #616161;
}
.text-center{
	margin-top: 20px;
	text-align: center;
}
.site-button{
	display: inline-block;
	border: 2px solid #000;
    color: #000;
    padding: 13px 40px;
    font-size: 12px;
    background: none;
    border-radius: 50px;
    transition: all ease 0.3s;
    box-shadow: 0 0 3px 7px transparent;
}
.site-button:hover{
	background: #000;
	color: #fff;
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.6);
}
/*LATEST BLOGS结束*/

/*TOUCH开始*/

.touch{
	width: 100%;
	height: auto;
	background: #f6f6f6;
	padding-top: 90px;
	padding-bottom: 90px;
	/*text-align: center;*/
}
.clints-top{
	text-align: center;
}
.TOUCH-LEFT{
	padding: 0 15px;
	margin-bottom: 30px;
}
.touch-left{
	padding: 20px;
	background: #fff;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.touch-left li{
	/*margin-bottom: 10px;*/
}
.touch-left li:nth-child(3) p{
	margin-bottom: 0;
}
.touch-left li:last-child{
	margin-bottom: 0;
}
.icon-iconfontcolor39,.icon-xinfeng,.icon-icons08{
	display: block;
	font-size: 20px;
	font-family: "iconfont";
	margin-bottom: 10px;
}
.touch-left span{
	font-size: 12px;
	display: block;
}
.TOUCH-right{
	padding: 0 15px;
}
#touch input{
	display: block;
	padding: 7px 10px;
	min-width: 100%;
	height: 55px;
	background: #fff;
	margin-bottom: 30px;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
	border: none;
	outline: none;
}
#touch input:active{
	border-bottom: 1px solid #000;
}
.sen-but{
	position: relative;
	height: 140px;
}
.sen-but textarea{
	min-width: 100%;
	height: 140px;
	resize: none;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
	border: none;
	padding: 10px;
	padding-right: 80px;
	outline: none;
}
.send-bt{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 80px;
	border: 5px solid #333;
	background: #333;
	box-shadow: inset 0 0 10px #333;	
	outline: none; 
	transition: all 1s;

}
.send-bt:hover{
	background: none;	
	box-shadow: inset 0 0 0;
	/*background: white;*/
	/*color: #333;*/
}
.send-bt:hover .icon-zhifeijiicon279585{
	color: #333;
}
.icon-zhifeijiicon279585{
	font-size: 30px;
	font-family: "iconfont";
	color: #fff;
	line-height: 140px;

}
.latest-item .jpeg{
	width: 100%;
	height: 280px;
}
/*TOUCH结束*/
/*底部开始*/
footer{
	padding:70px 0;
	text-align: center;
	background: #111;
}
.icon{
	width: 100%;
}
.icon-facebookicon,.icon-tuite,.icon-be,.icon-06{
	display: inline-block;
	font-family: "iconfont";
	font-size: 18px;
	margin: 0 8px;
	color: #fff;
	transition: all 0.5;
}
.icon-facebookicon:hover,.icon-tuite:hover,.icon-be:hover,.icon-06:hover{
	-webkit-text-fill-color:#666;
}
footer p{
	font-size: 13px;
	margin-top: 10px;
	line-height: 20px;
}
/*底部结束*/



/*手机*/
@media screen and (max-width: 768px) {
	/*.row{
		margin-left: -15px;
		margin-right: -15px;
	}*/
	img{
		display: block;
		width: 100%;
		height: 100%;
	}
	.work-item{
		position: relative;
	}
	.clints a:nth-child(6)  img{
		display: none;
	}
	.clints a:nth-child(5) img{
		display: none;
	}
	.clints a:nth-child(4) img{
		display: none;
	}
	.inner>h1{
		font-size: 58px;
	}
	.inner>p{
		font-size: 36px;
	}
	.button{
		font-size: 26px;
	}

}
/*平板*/
@media screen and (min-width: 768px) and (max-width: 992px) {
	.product1 img{
		display: block;
		width: 220px;
		height: 271px;
	}
	.product2 img{
		display: block;
		width: 220px;
		height: 220px;
	}
	.product3 img{
		display: block;
		width: 220px;
		height: 288px;
	}
	.product4 img{
		display: block;
		width: 220px;
		height: 257px;
	}
	.product5 img{
		display: block;
		width: 220px;
		height: 207px;
	}
	.product6 img{
		display: block;
		width: 220px;
		height: 187px;
	}
	.product1{
		
		position: absolute;
		top: 0;
		left: 0;
	}
	.product2{
		
		position: absolute;
		top: 0;
		left: 250px;
	}
	.product3{
		
		position: absolute;
		top: 0;
		left: 500px;
	}
	.product4{
		
		position: absolute;
		top: 250px;
		left: 250px;
	}
	.product5{
		
		position: absolute;
		top: 301px;
		left: 0;
	}
	.product6{
		
		position: absolute;
		top: 318px;
		left: 500px;
	}
	.product{
		position: relative;
		height: 538px;
	}
	.work-item{
		position: absolute;
	}
	.clints a:nth-child(6)  img{
		display: none;
	}
	.clints a:nth-child(5) img{
		display: none;
	}
	.timeline>li {
	    min-height: 100px;
	    margin-bottom: 100px;
	}
	
	.timeline>li .timeline-image {
	    left: 50%;
	    width: 100px;
	    height: 100px;
	    margin-left: -50px;
	}
	.timeline>li .timeline-panel {
	    float: left;
	    width: 41%;
	    padding: 0 20px 20px 30px;
	    text-align: right;
	}
	.timeline>li.timeline-inverted>.timeline-panel {
	    float: right;
	    padding: 0 30px 20px 20px;
	    text-align: left;
	}
	.timeline>li .timeline-image h4 {
	    font-size: 13px;
	    line-height: 18px;
	    margin-top: 16px;
	}
	.inner>h1{
		font-size: 58px;
	}
	.inner>p{
		font-size: 36px;
	}
	.button{
		font-size: 26px;
	}
}
/*pc小屏*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
	.product1 img{
		display: block;
		width: 293.33px;
		height: 361.02px;
	}
	.product2 img{
		display: block;
		width: 293.33px;
		height: 293.33px;
	}
	.product3 img{
		display: block;
		width: 293.33px;
		height: 384.39px;
	}
	.product4 img{
		display: block;
		width: 293.33px;
		height: 342.36px;
	}
	.product5 img{
		display: block;
		width: 293.33px;
		height: 276px;
	}
	.product6 img{
		display: block;
		width: 293.33px;
		height: 249px;
	}
	.product1{
		
		position: absolute;
		top: 0;
		left: 0;
	}
	.product2{
		
		position: absolute;
		top: 0;
		left: 323px;
	}
	.product3{
		
		position: absolute;
		top: 0;
		left: 646px;
	}
	.product4{
		
		position: absolute;
		top: 323px;
		left: 323px;
	}
	.product5{
		
		position: absolute;
		top: 391px;
		left: 0;
	}
	.product6{
		
		position: absolute;
		top: 414px;
		left: 646px;
	}
	.product{	
		position: relative;
		height: 697px;
	}
	.work-item{
		position: absolute;
	}
	.timeline>li {
	    min-height: 150px;
	}
	.timeline>li .timeline-image {
	    width: 150px;
	    height: 150px;
	    /* margin-left: -75px; */
	}
	.timeline>li .timeline-panel {
	    padding: 10px 170px 20px;
	}
	.timeline>li.timeline-inverted>.timeline-panel {
    	padding: 10px 170px 20px;
	}
	.timeline>li .timeline-image h4 {
	    font-size: 18px;
	    line-height: 26px;
	    margin-top: 30px;
	}
	.inner>h1{
		font-size: 58px;
	}
	.inner>p{
		font-size: 36px;
	}
	.button{
		font-size: 26px;
	}
}
/*pc大屏*/
@media screen and (min-width: 1200px) {
	.product1 img{
		display: block;
		width: 360px;
		height: 443px;
	}
	.product2 img{
		display: block;
		width: 360px;
		height: 360px;
	}
	.product3 img{
		display: block;
		width: 360px;
		height: 472px;
	}
	.product4 img{
		display: block;
		width: 360px;
		height: 420px;
	}
	.product5 img{
		display: block;
		width: 360px;
		height: 339px;
	}
	.product6 img{
		display: block;
		width: 360px;
		height: 306px;
	}
	.product1{
		
		position: absolute;
		top: 0;
		left: 0;
	}
	.product2{
		
		position: absolute;
		top: 0;
		left: 390px;
	}
	.product3{
		
		position: absolute;
		top: 0;
		left: 780px;
	}
	.product4{
		
		position: absolute;
		top: 390px;
		left: 390px;
	}
	.product5{
		
		position: absolute;
		top: 473px;
		left: 0;
	}
	.product6{
		
		position: absolute;
		top: 502px;
		left: 780px;
	}
	.product{	
		position: relative;
		height: 842px;
	}
	.work-item{
		position: absolute;
	}
	.timeline>li {
    	min-height: 170px;
	}
	.timeline>li .timeline-image {
	    width: 170px;
	    height: 170px;
	    /* margin-left: -85px; */
	}
	.timeline>li .timeline-panel {
	    padding: 20px 20px 20px 185px;
	}
	.timeline>li.timeline-inverted>.timeline-panel {
    	padding: 20px 100px 20px 185px;
	}
	.timeline>li .timeline-image h4 {
	    margin-top: 40px;
	}
	.inner>h1{
		font-size: 58px;
	}
	.inner>p{
		font-size: 36px;
	}
	.button{
		font-size: 26px;
	}

}
/*文件夹结束*/
